#root {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

:root {

   /* Navbar */
   --st-react-navbar-brand-title-color: var(--unity-white);
   --st-react-navbar-brand-version-color: #BEC0C2;
   --st-react-progress-indicator-background: var(--unity-brand);

}

/* Menu */

.st-react-menu-content {
  background: var(--st-gray-80);
  border: 1px solid var(--st-white);
  border-radius: 0;
  padding: 0;
}

.st-react-menu-content .st-react-menu-arrow {
  fill: var(--st-white);
  filter: none;
  stroke: var(--st-white);
}

.st-react-menu-content .st-react-menu-label {
  color: var(--st-gray-10);
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.48;
  padding: 10px 16px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.st-react-menu-content .st-react-menu-item {
  background-color: var(--st-gray-70);
  border-radius: 0;
  color: var(--st-gray-10);
  font-weight: 400;
  letter-spacing: 0.60px;
  line-height: 1em;
  margin-bottom: 1px;
  padding: 16px 16px;
  text-transform: capitalize;
  word-wrap: break-word;
}

.st-react-menu-content .st-react-menu-item:hover, .st-react-menu-content .st-react-menu-item:hover a {
  background: var(--st-primary-20);
  font-weight: 700;
  color: var(--st-black);
  cursor: pointer;
}

.st-react-menu-content a {
  text-decoration: none;
}

.st-react-menu-content .st-react-menu-item > a {
  color: var(--st-gray-10);
  text-decoration: none;
  word-wrap: break-word;
}

/* Navbar */

.st-react-navbar {
   background: #394044;
}

.st-react-navbar-content {
   color: var(--st-gray-10);
}

.st-react-navbar-content .st-button.tertiary, .st-react-navbar-content .st-button.tertiary svg {
   color: var(--st-gray-10);
}

.st-react-navbar-content .st-button.tertiary:hover, .st-react-navbar-content .st-button.tertiary:hover svg {
   color: var(--st-button-tertiary-color);
}

.st-react-navbar-content button span.st-react-avatar {
   color: var(--st-button-tertiary-color);
}

.st-react-navbar.st-react-navbar--mobile .st-button.icon {
   color: var(--st-gray-10);
}

.st-react-navbar.st-react-navbar--mobile .st-button:hover.icon {
   color: var(--st-button-tertiary-color);
}

.st-react-navbar-mobile-menu {
  background: var(--st-gray-80);
  border: 0;
  padding: 0;
}

.st-react-navbar-mobile-menu .st-react-menu-label {
  font-size: 1em;
  font-weight: 700;
  color: var(--st-gray-10);
  text-transform: uppercase;
  padding: 10px 16px;
  word-wrap: break-word;
}

.st-react-navbar-mobile-menu .st-react-navbar-link {
  background-color: var(--st-gray-70);
  border-radius: 0;
  color: var(--st-gray-10);
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 1em;
  padding: 10px 16px;
  text-decoration: none;
  text-transform: capitalize;
  word-wrap: break-word;
}

.st-react-navbar-mobile-menu .st-react-navbar-link:hover {
  background: var(--st-primary-20);
  font-weight: 700;
  color: var(--st-black);
  cursor: pointer;
}

/* Menu and Navbar Error Message */

.st-react-menu-content .st-react-menu-message, .st-react-navbar-mobile-menu .st-react-menu-message {
  align-items: center;
  background-color: var(--st-black);
  border: 1px solid var(--st-error-red);
  color: var(--st-white);
  display: flex;
  flex-direction: row;
  font-family: var(--st-react-navbar-link-font-family);
  font-size: var(--st-react-navbar-link-font-size);
  font-weight: 700;
  gap: 4px;
  margin: 4px;
  padding: 8px 16px 8px 16px;
}

/* Progress Bar */

.st-react-progress .st-react-progress--indeterminate--line {
  background: var(--unity-brand);
}